body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    padding: 0 10px;
    border-bottom: solid 1px seashell;
}

header img{
    height: 50px;
}

header ul{
    display:flex;

}

header li{
    margin-left:20px;
    text-decoration: underline;
    color: seashell;
    
}

header a{
    color: seashell;
}

.mission-container{
    position: relative;
    top:70px;
    background-image: url(./images/img-mission-background.webp);
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.mission-text{
    padding: 10px 0;
    width: 100%;
    background-color: black;
}